* {
    font-family: Vidaloka,serif;
}
.logo_text {
    color: #403436;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 2.1em;
    font-family: "Vidaloka", serif;
    font-size: 2.30769em;
    line-height: 1em;
    font-weight: 400;
}

.logo_text span {
    position: relative;
    padding-left: 1.2em;
    display: inline-block;
}

.logo_text span:before {
    position: absolute;
    top: 6px;
    left: -4px;
    font-size: 0.857em;
    border-radius: 50%;
    content: "\0026";
    line-height: 0.7em;
    font-family: 'Damion', cursive;
    padding: 5px;
    text-align: center;
    background-color: #ef565d;
    color: #fff;
    margin-left: 5px;
    margin-right: -5px;
}


.poster {
    text-align: center;
    background-image: url(/static/images/alicante.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}

.date_text {
    margin-top: 1em;
}
.red_flag {
    background: url(/static/images/flag.png) no-repeat;
    padding: 0px 25px 11px;
    background-size: 100%;
    font-family: "Vidaloka", serif;
    color: white;
}

.large_text {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    font-family: Arial;
    border-width: 0px;
    border-style: none;
    font-family: Vidaloka,serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

    margin-top: 1em;
}

.sc_title_divider .sc_title_divider_before, .sc_title_divider .sc_title_divider_after {
    display: block;
    width: 50%;
    height: 1px;
    position: absolute;
    top: 8px;
    padding-right: 35px;
    box-sizing: border-box;
}


.date-blocks {
    margin-top: 85px;
    /* display: flex; */
    /* display: -webkit-flex; */
    /* display:         flex; */
    /* -webkit-align-items: center; */
    /* align-items: center; */
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
}

.date-blocks > div {
    display: inline-block;
    width: 150px !important;
    height: 150px !important;
}

.date-blocks .svg {
    height: 150px;
    width: 150px;
}

.time-left {
    color: white;
    display: block;
    transform: translateY(-2vmin);
    font-size: 4vmax;
}

.time-str {
    color: white;
    display: block;
    transform: translateY(-3vmin);
    font-size: 2vmax;
}

.flex-block {
    display:         flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 960px) {
    .time-left {
        transform: translateY(-2vmin);
        font-size: 36px;
    }

    .time-str {
        transform: translateY(-3vmin);
        font-size: 14px;
    }

    .date-blocks {
        display: flex;
        display: -webkit-flex;
        display:         flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

}
@media all and (max-width: 959px) and (min-width: 600px) {
    .time-left {
        transform: translateY(-2vmin);
        font-size: 4vmax;
    }

    .time-str {
        transform: translateY(-3vmin);
        font-size: 2vmax;
    }
}

@media all and (max-width: 599px) and (min-width: 50px) {
    .time-left {
        transform: translateY(-2vmin);
        font-size: 4vmax;
    }

    .time-str {
        transform: translateY(-3vmin);
        font-size: 2vmax;
    }

    .date-minutes, .date-seconds {
        display: none !important;
    }
}

.title {
    font-family: "Vidaloka", serif;
    font-size: 3.6667em;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 0.36em;
}

.row {
    text-align: center;
    /* padding: 60px; */
    /* display: inline-block; */
    /* width: 80%; */
}

.sc_title_divider_top {
    background: url("/static/images/icon1.png") bottom center no-repeat;
    position: relative;
    text-align: center;
    padding-bottom: 36px;
    background-size: 34px 17px;
}
.sc_title_divider_top .sc_title_divider_top_before, .sc_title_divider_top .sc_title_divider_top_after {
    display: block;
    width: 40%;
    height: 1px;
    position: absolute;
    bottom: 8px;
    padding-right: 35px;
    box-sizing: border-box;
    border-color: black;
    color: black;
    border-bottom: 1px solid rgba(156, 156, 156, 0.28);
    margin-left: 7%;
}
.sc_title_divider_top .sc_title_divider_top_after {
    right: 7%;
}

table tr:first-child td {
    background-color: #ef565d;
}
table tr:first-child td {
    border-color: #ef565d;
    color: white;
    font-size: 2em;
    padding: 0.5em;
}


.sc_table {
    /* margin-left: 60px; */
    /* text-align: center; */
    /* margin-bottom: 30px; */
    max-width: 80%;
}

.table {
    color: #403436;
}
table tr:not(:first-child):not(:last-child) td:last-child {
    text-align: left;
    font-size: 1em;
    /* padding: 0.65em 1.5em 0.75em; */
}
table td {
    font-family: Vidaloka, serif;
    background: transparent;
    vertical-align: top;
}
table th, table td {
    padding: 0.3em 1em 0.75em;
    line-height: 1.6;
}
table th, table td {
    padding: 1em;
}
table td, table th {
    background-color: #ffffff;
}
table td, table th {
    border-color: #e7e6e4;
}
td, th {
    border: 1px solid #e4e7e8;
    padding: 4px;
    text-align: left;
}

.error-image {
    background-image: url(/static/images/error.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-right {height: 500px;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;}

.login-body {
    background: #9fddea;
}

.login-body img {
    max-width: 100%;
}

.login-footer {
    background: #9fddea url(/static/images/bg-bottom.png) bottom center no-repeat;
    height: 400px;
}

.login-description {
    /* right: 4em; */
    color: white;
    font-size: 2em;
    /* display: inline-block; */
    /* vertical-align: bottom; */
    /* float: none; */
    width: 70%;
    text-align: center;
}
.plane {
    /* position: absolute; */
    bottom: 0;
    right: 2em;
    /* display: inline-block; */
    vertical-align: bottom;
    float: none;
    cursor: pointer;
}

.pull-bottom {
    /* display: inline-block; */
    /* vertical-align: bottom; */
    /* float: none; */
}

.separator {
    margin-top: 50px;
    height: 56px;
    background: url(/static/images/sep.png) no-repeat center center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.div-table {
    padding-bottom: 50px;
}
.bestfriends {
    box-shadow: 0 8px 0px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    max-width: 247px;
    padding: 0;
    width: 200px;
    margin-left: 50px;
    -moz-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}


.bestfriends a, .bestfriends img {
    width: 200px !important;
    height: 200px;
}

@media all and (max-width: 600px) {
    .bestfriends {
        margin: 2px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }

    .bestfriends a, .bestfriends img {
        width: 150px !important;
        height: 150px;
    }
}



.bestfriends h4 {
    background: #FFF;
    margin: 0px;
    color: #ef6a8a;
    padding: 10px 20px 0px;
    font-family: 'Open Sans', sans-serif;
}

.bestfriends h4 a {
    color: #ef6a8a;
    text-decoration: none;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#vk_comments {
    background: none;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.map img {
    max-width: 100%;
}

.photo-box {
    margin-bottom: 30px;
}

.photo-box .description {
    font-family: 'Open Sans', sans-serif;
}