* {
    font-family: Vidaloka,serif;
}
.logo_text {
    color: #403436;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 2.1em;
    font-family: "Vidaloka", serif;
    font-size: 2.30769em;
    line-height: 1em;
    font-weight: 400;
}

.logo_text span {
    position: relative;
    padding-left: 1.2em;
    display: inline-block;
}

.logo_text span:before {
    position: absolute;
    top: 6px;
    left: -4px;
    font-size: 0.857em;
    border-radius: 50%;
    content: "\0026";
    line-height: 0.7em;
    font-family: 'Damion', cursive;
    padding: 5px;
    text-align: center;
    background-color: #ef565d;
    color: #fff;
    margin-left: 5px;
    margin-right: -5px;
}


.poster {
    text-align: center;
    background-image: url(/static/images/slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    /* -webkit-transition: background-image 0.2s ease-in-out; */
    /* transition: background-image 0.2s ease-in-out; */
    /* background-position-y: -60px; */
    /* background-position-x: -90px; */
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 10;
}

.slide-show {position: absolute;/* top: 0; */text-align: center;width: 100%;overflow: hidden;height: 500px;}


.opaque {
    display: inline-block !important;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transfor: scale(1.5);
    -ms-transform: translate(-50px,-100px); /* IE 9 */
    -webkit-transform: translate(-50px,100px); /* Safari */
    transform: translate(-50px,-100px); /* Standard syntax */
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}
.slide-show img {
    /* width: 120%; */
    /* max-height: 500px; */
    -ms-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
    transition: scale translate 5s ease-in-out;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    left: -500px;
    margin-left: -200px;
    /* float: left; */
    /* position: absolute; */
    /* display: none; */
}

.slide-show img .opaque {
    -ms-transform: scale(1.5) translate(-150px,-100px); /* IE 9 */
    -webkit-transform: scale(1.5) translate(-150px,100px); /* Safari */
    transform: scale(1.5) translate(-150px,-100px); /* Standard syntax */

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);

    position: absolute;
    display: inline-block;
}


.date_text {
    margin-top: 1em;
}
.red_flag {
    background: url(/static/images/flag.png) no-repeat;
    padding: 0px 25px 11px;
    background-size: 100%;
    font-family: "Vidaloka", serif;
    color: white;
}

.large_text {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    font-family: Arial;
    border-width: 0px;
    border-style: none;
    font-family: Vidaloka,serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    /* margin-top: 0.5em; */
}

.sc_title_divider .sc_title_divider_before, .sc_title_divider .sc_title_divider_after {
    display: block;
    width: 50%;
    height: 1px;
    position: absolute;
    top: 8px;
    padding-right: 35px;
    box-sizing: border-box;
}


.date-blocks {
    margin-top: 10em;
    /* display: flex; */
    /* display: -webkit-flex; */
    /* display:         flex; */
    /* -webkit-align-items: center; */
    /* align-items: flex-start; */
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
    /* align-self: flex-end; */
    /* vertical-align: bottom; */
    /* position: absolute; */
    /* bottom: 100px; */
}

.date-blocks > div {
    display: inline-block;
    width: 150px !important;
    height: 150px !important;
}

.date-blocks .svg {
    height: 150px;
    width: 150px;
}

.time-left {
    color: white;
    display: block;
    transform: translateY(-2vmin);
    font-size: 4vmax;
}

.time-str {
    color: white;
    display: block;
    transform: translateY(-3vmin);
    font-size: 2vmax;
}

.flex-block {
    display:         flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 960px) {
    .time-left {
        transform: translateY(-2vmin);
        font-size: 2.em;
    }

    .time-str {
        transform: translateY(-3vmin);
        font-size: 14px;
    }

    .date-blocks {
        display: flex;
        display: -webkit-flex;
        display:         flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .large_text {
        margin-top: 0.5em;
    }

}
@media all and (max-width: 959px) and (min-width: 600px) {
    .time-left {
        transform: translateY(-2vmin);
        font-size: 4vmax;
    }

    .time-str {
        transform: translateY(-3vmin);
        font-size: 2vmax;
    }
}

@media all and (max-width: 599px) and (min-width: 50px) {
    .time-left {
        transform: translateY(-20%);
        font-size: 2.5em;
    }

    .time-str {
        transform: translateY(-4vmax);
        font-size: 3vmax;
    }

    .date-minutes, .date-seconds {
        display: none !important;
    }
}

.title {
    font-family: "Vidaloka", serif;
    font-size: 3.6667em;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 0.36em;
}

.row {
    text-align: center;
    /* padding: 60px; */
    /* display: inline-block; */
    /* width: 80%; */
    /* display: flex; */
    /* flex-direction: column; */
}

.sc_title_divider_top {
    background: url("/static/images/icon1.png") bottom center no-repeat;
    position: relative;
    text-align: center;
    padding-bottom: 36px;
    background-size: 34px 17px;
}
.sc_title_divider_top .sc_title_divider_top_before, .sc_title_divider_top .sc_title_divider_top_after {
    display: block;
    width: 40%;
    height: 1px;
    position: absolute;
    bottom: 8px;
    padding-right: 35px;
    box-sizing: border-box;
    border-color: black;
    color: black;
    border-bottom: 1px solid rgba(156, 156, 156, 0.28);
    margin-left: 7%;
}
.sc_title_divider_top .sc_title_divider_top_after {
    right: 7%;
}

table tr:first-child td {
    background-color: #ef565d;
}
table tr:first-child td {
    border-color: #ef565d;
    color: white;
    font-size: 2em;
    padding: 0.5em;
}


.sc_table {
    /* margin-left: 60px; */
    /* text-align: center; */
    /* margin-bottom: 30px; */
    max-width: 80%;
}

.table {
    color: #403436;
}
table tr:not(:first-child):not(:last-child) td:last-child {
    text-align: left;
    font-size: 1.2em;
    /* padding: 0.65em 1.5em 0.75em; */
}
table td {
    font-family: Vidaloka, serif;
    background: transparent;
    vertical-align: top;
}
table th, table td {
    padding: 0.3em 1em 0.75em;
    line-height: 1.6;
}
table th, table td {
    padding: 1em;
}
table td, table th {
    background-color: #ffffff;
}
table td, table th {
    border-color: #e7e6e4;
}
td, th {
    border: 1px solid #e4e7e8;
    padding: 4px;
    text-align: left;
}

.error-image {
    background-image: url(/static/images/error.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-right {height: 500px;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;}

.login-body {
    background: #9fddea;
}

.login-body img {
    max-width: 100%;
}

.login-footer {
    background: #9fddea url(/static/images/bg-bottom.png) bottom center no-repeat;
    height: 400px;
}

.login-description {
    /* right: 4em; */
    color: white;
    font-size: 2em;
    /* display: inline-block; */
    /* vertical-align: bottom; */
    /* float: none; */
    width: 70%;
    text-align: center;
}
.plane {
    /* position: absolute; */
    bottom: 0;
    right: 2em;
    /* display: inline-block; */
    vertical-align: bottom;
    float: none;
    cursor: pointer;
}

.pull-bottom {
    /* display: inline-block; */
    /* vertical-align: bottom; */
    /* float: none; */
}

.separator {
    margin-top: 50px;
    height: 56px;
    background: url(/static/images/sep.png) no-repeat center center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.div-table {
    padding-bottom: 50px;
}
.bestfriends {
    box-shadow: 0 8px 0px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    max-width: 247px;
    padding: 0;
    width: 200px;
    margin-left: 50px;
    -moz-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}

.bestfriends a {
    overflow: hidden !important;
    transform: translateZ(0);
    position: relative;
    z-index: 10;
}

.bestfriends a, .bestfriends img {
    width: 200px !important;
    height: 200px;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    /* overflow: hidden !important; */
}
/*
.bestfriends a:hover {
    transform: translateZ(0);
}
.bestfriends a:hover img {
    transform: scale(1.2) rotate(10deg);
    overflow: hidden;
}
*/

@media all and (max-width: 600px) {
    .bestfriends {
        margin: 2px;
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }

    .bestfriends a, .bestfriends img {
        width: 150px !important;
        height: 150px;
    }
}



.bestfriends h4 {
    background: #FFF;
    margin: 0px;
    color: #ef6a8a;
    padding: 10px 20px 0px;
    font-family: 'Open Sans', sans-serif;
}

.bestfriends h4 a {
    color: #ef6a8a;
    text-decoration: none;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#vk_comments {
    background: none;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.map img {
    max-width: 100%;
}

.photo-box {
    margin-bottom: 30px;
}

.photo-box .description {
    font-family: 'Open Sans', sans-serif;
}

#clouds {
    position:absolute;
    width: 100%;
    height: 100%;
    background: transparent url(/static/images/clouds.png) 0 0px repeat-x;
    top:0px;
    left:0px;
    z-index: -1;
}

.notes, .insta-notes {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.insta-notes a {
    text-decoration: none;
    color: #ef6a8a;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    height: 100px;
    font-size: 25px;
    /* margin-bottom: 10px; */
}

.insta-notes img {
    margin-top: -5px;
}