* {
	font-family: 'open sans', sans-serif;
}
header {
	background-color: rgba(229, 229, 229, 1);
}

.logo-image{
	text-align: right;
	padding-top: 8px;
}

.logo {
  /*background: #4B97ED;*/
  
  font-size: 40px;
  font-weight: bold;
    
  padding-right: 80px;

  color: rgb(51, 149, 143);
}


.logo-title {
  color: rgb(56, 56, 56);
  cursor: pointer;
  font-size: 20px;

  white-space: nowrap;
  font-family: 'open sans', sans-serif;
}

.menu-item {
  padding-top: 40px;
  text-transform: uppercase;
  cursor: pointer;

    display: inline-block;
  margin-right: 40px;
}

.menu-item:hover {
  color: #3BBAB5;
  transition: color 0.4s ease 0s;
}



footer {
  background-color: rgba(59, 186, 181, 1);
  border-top: 3px solid rgba(254, 253, 253, 1);
  color: white;

  padding-top: 40px;
  padding-bottom: 40px;

  padding-left: 20%;
}

footer *{ 
  white-space: nowrap;
}

.footer-item {
	max-width: 250px;
}

.circle { 

  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0px solid rgba(59, 186, 181, 1);
  background-color: rgba(247, 200, 14, 1);
}



.phone-large {
	text-align: right;
	padding-top: 80px;
	padding-bottom: 80px;
}


.hello, .wedo, .your, .one-agency {
	font-family: raleway, sans-serif;	
  	font-weight: bold;
  	color: rgb(140, 139, 139);	
}

.hello {
	margin-top: 35px;
	font-size: 80px;
}

.wedo {
	font-size: 36px;
}

.your {
	font-size: 24px; 	
}

.one-agency {
	font-size: 24px;
	color: rgb(229, 125, 34);	
}


.services {
	margin-top: 30px;
	margin-bottom: 30px;
}
.about-circle {

  background-color: transparent;
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  cursor: pointer !important;
  border-radius: 50%;
  height: 130px;
  width: 130px;

  display: inline-block;
  text-align: center;

   position: relative;
     margin-right: 15px;

     cursor: pointer;
}


.red {
  border: solid red 4px;
}

.orange {
  border: solid rgb(242, 153, 19); 4px;
}

.yellow {
  border: solid rgba(247, 200, 14, 1) 4px;
}


.about-circle span {
  font: normal normal normal 13px/1.2em 'open sans',sans-serif;
  transition: color 0.4s ease 0s;
  color: #8C8B8B;
  display: inline-block;
  position: relative;
  white-space: nowrap;

  margin-top: 53px;
}

.pen, .message, .letter {
  
  height: 56px;
  width: 56px;
  position: absolute;
  background-repeat: no-repeat;
  left: -10px;
  top: -20px;
}

.pen {
	background-image: url(/static/images/pen.png);
}

.message {
	background-image: url(/static/images/message.png);
}

.letter {
	background-image: url(/static/images/letter.png);
}





.phone-mini, .letter-mini, .follow-mini, .copy-mini {
  
  height: 35px;
  width: 35px;
  position: absolute;
  background-repeat: no-repeat;
  left: -5px;
  top: -5px;
}

.phone-mini {
	background-image: url(/static/images/phone-mini.png);
}

.letter-mini {
	background-image: url(/static/images/letter-mini.png);
}

.follow-mini {
	background-image: url(/static/images/follow-mini.png);
}

.copy-mini {
	background-image: url(/static/images/copy-mini.png);
}


.footer-item a {
	color: white;
}