<!DOCTYPE html>
<html>
  <head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/css/main.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->

  </head>
  <body>

      <header class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1 logo-image">
          <img src="/static/images/logo.png" />
        </div>
        <div class="col-md-1">
          <div class="logo">Mindale</div>
          <div class="logo-title">Localization Agency</div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="menu-item">Home</div>
          <div class="menu-item">Services</div>
          <div class="menu-item">About</div>
          <div class="menu-item">Contact</div>
        </div>

      </header>



      <section class="row main">
        <div class="col-md-6 phone-large">
          <img src="/static/images/phone.png" />
        </div>

        <div class="col-md-6">

          <div class="hello">Hello,</div>
          <div class="wedo">We Do Localizations</div>

          <div class="services row">
            <div class="about-circle red"><div class="pen"></div><span>Services</span></div>
            <div class="about-circle orange"><div class="message"></div><span>Abous Us</span></div>
            <div class="about-circle yellow"><a href="mailto:mail@mindale.com?Subject=Request%20for%20localization" target="_top"><div class="letter"></div><span>Contact Us</span></a></div>
          </div>

          <div class="your">Your Entire Mobile Localizations Needs</div>
          <div class="one-agency">All in One Agency</div>


        </div>

      </section>


      <footer class="row">
          <div class="col-md-3 row footer-item">
              <div class="col-md-6 circle"><div class="phone-mini"></div></div>
              <div  class="col-md-6">
                <p>Call</p>
                <p>T: +1910-227-9236</p>
                <p>F: +1910-227-9236</p>
              </div>
          </div>

          <div class="col-md-3 row footer-item">
              <div class="col-md-6 circle"><div class="letter-mini"></div></div>
              <div class="col-md-6">
                <p>Contact</p>
                <p><a href="mailto:mail@mindale.com?Subject=Request%20for%20localization" target="_top">mail@mindale.com</a></p>
              </div>
          </div>

          <div class="col-md-3 row footer-item">
              <div class="col-md-6 circle"><div class="follow-mini"></div></div>
              <div class="col-md-6">
                <p>Follow us</p>
                <p><img src="/static/images/facebook-mini.png"/>
                   <img src="/static/images/twitter-mini.png"/>
                   <img src="/static/images/google-mini.png"/>
                </p>
              </div>
          </div>

          <div class="col-md-3 row footer-item">
              <div class="col-md-6 circle"><div class="copy-mini"></div></div>
              <div class="col-md-6">© 2015 by Mindale.com</div>
          </div>

      </footer>

  </body>
</html>

