<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
    <p><b>From:</b> {{.Params.MailSenderEmail}}</p>
    <p><b>To:</b> {{.App.Emails}}</p>
    <p><b>Subject:</b> Localization opportunities for {{.App.TrackName}}</p>

    <div class="intro">Hello, </br>
    My name is {{.Params.MailSenderName}}, I'm Head of Localization Services in mindale.com.</br>
    I found your amazing app <b>{{.App.TrackName}}</b> in AppStore and want to show you some analytics report for your app.</div>

    <p><h1>Langs Share</h1></p>
        <p>total: {{.Calculations.LangShare.Total}}</p>
        <p>used: {{.Calculations.LangShare.Used}}</p>
        <p>percent: {{.Calculations.LangShare.Percent}}</p>

        <p><img height="{{.Charts.LangsChart.Height}}" width="{{.Charts.LangsChart.Width}}" src="{{.Charts.LangsChart.Src}}"/></p>
    <p></p>


    <p><h1>Country Share</h1></p>
        <p>total: {{.Calculations.CountryShare.Total}}</p>
        <p>used: {{.Calculations.CountryShare.Used}}</p>
        <p>percent: {{.Calculations.CountryShare.Percent}}</p>

        <p><img height="500" width="600" src="{{.Charts.MapBody}}"/></p>
    <p></p>

    <p><h1>Population Share</h1></p>
        <p>total: {{.Calculations.PopulationShare.Total}} millions</p>
        <p>used: {{.Calculations.PopulationShare.Used}} millions</p>
        <p>percent: {{.Calculations.PopulationShare.Percent}}%</p>
    <p></p>




            <div horizontal layout center class="app-logo">
                <img height="60" width="60" src="{{.AppIcon}}"/>
                <div><h2>{{.App.TrackName}}</h2></div>
              </div>


                <div class="info">Ваше приложение могут установить всего в <b>{app_cntrs}</b> из <b>{total_cntrs}</b> стран</div>
              <google-chart id="geo" type='geo'>
              </google-chart>



            <div class="info">Ваше приложение переведено только на <b>{percent}%</b> языков на которых говорят пользователи</div>

              <google-chart
                id="pie"
                type='pie'>
              </google-chart>



            <div class="info">Потенциальная аудитория вашего приложение всего <b>{app_users}</b> миллионов пользователей из <b>{total_users}</b> миллионов по всему миру</div>


            <div id="regions_div" style="width: 900px; height: 500px;"></div>

      </body>
</html>
