<!DOCTYPE html>
<html>
  <head>

  <style>

   .intro {
      margin-top: 50px;
      margin-bottom: 20px;
   }

   .app-logo img {
      width: 62px;
      height: 63px;
      border-radius: 10px;
      border: 1px solid #aaa;
      overflow: hidden;
      margin-right: 20px;
   }

  #langlist {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }

   #langlist label {
      clear: right;
      display: inline-block;
      margin: 5px;
   }

   .info {
      font-size: 30px;
      margin: 30px;
      margin-top: 60px;

   }

   google-chart {
    margin-left: 60px;
   }
  </style>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/static/js/map.js"></script>

  </head>
<body>

      <h1>Mindale analytics</h1>
<div id="langlist">
    
        <input on-tap="" type="checkbox" name="Mandarin Chinese" value="Mandarin Chinese">
        <label for="Mandarin Chinese">Mandarin Chinese</label><br>
      
    

        <input on-tap="" type="checkbox" name="Hindi" value="Hindi">
        <label for="Hindi">Hindi</label><br>
      
    

        <input on-tap="" type="checkbox" name="Spanish" value="Spanish">
        <label for="Spanish">Spanish</label><br>
      
    

        <input on-tap="" type="checkbox" name="English" value="English">
        <label for="English">English</label><br>
      
    

        <input on-tap="" type="checkbox" name="Arabic" value="Arabic">
        <label for="Arabic">Arabic</label><br>
      
    

        <input on-tap="" type="checkbox" name="Portuguese" value="Portuguese">
        <label for="Portuguese">Portuguese</label><br>
      
    

        <input on-tap="" type="checkbox" name="Russian" value="Russian">
        <label for="Russian">Russian</label><br>
      
    

        <input on-tap="" type="checkbox" name="Japanese" value="Japanese">
        <label for="Japanese">Japanese</label><br>
      
    

        <input on-tap="" type="checkbox" name="German" value="German">
        <label for="German">German</label><br>
      
    

        <input on-tap="" type="checkbox" name="Korean" value="Korean">
        <label for="Korean">Korean</label><br>
      
    

        <input on-tap="" type="checkbox" name="Vietnamese" value="Vietnamese">
        <label for="Vietnamese">Vietnamese</label><br>
      
    

        <input on-tap="" type="checkbox" name="French" value="French">
        <label for="French">French</label><br>
      
    

        <input on-tap="" type="checkbox" name="Italian" value="Italian">
        <label for="Italian">Italian</label><br>
      
    

        <input on-tap="" type="checkbox" name="Turkish" value="Turkish">
        <label for="Turkish">Turkish</label><br>
      
    

        <input on-tap="" type="checkbox" name="Polish" value="Polish">
        <label for="Polish">Polish</label><br>
      
    

        <input on-tap="" type="checkbox" name="Thai" value="Thai">
        <label for="Thai">Thai</label><br>
      
    

  </div>

            <p>from: daria@mindale.com</p>
            <p>to: support@ticktick.com</p>
            <p>Subject: TickTick localization opportunities</p>
              
            <div class="intro">Hello,</br>
            My name is Daria Esaulova, I'm Head of Localization Services in mindale.com.</br>
            I found your amazing app <b>TickTick</b> in AppStore and want to show you some analytics report for your app.</div>

            <div horizontal layout center class="app-logo">
                <img src="http://a3.mzstatic.com/us/r30/Purple7/v4/11/1e/0b/111e0b18-3071-40d6-3d56-d56dbfd3804f/icon75x75.jpeg"/>
                <!--<img src="http://a1.mzstatic.com/us/r30/Purple7/v4/11/1e/0b/111e0b18-3071-40d6-3d56-d56dbfd3804f/icon175x175.jpeg"/>-->
                <div><h2>TickTick - your to-do list & task management</h2></div>
              </div>
              

                <div class="info">Ваше приложение могут установить всего в <b>{app_cntrs}</b> из <b>{total_cntrs}</b> стран</div>
              <google-chart id="geo" type='geo'>
              </google-chart>



            <div class="info">Ваше приложение переведено только на <b>{percent}%</b> языков на которых говорят пользователи</div>

              <google-chart 
                id="pie"
                type='pie'>
              </google-chart>



            <div class="info">Потенциальная аудитория вашего приложение всего <b>{app_users}</b> миллионов пользователей из <b>{total_users}</b> миллионов по всему миру</div>


            <div id="regions_div" style="width: 900px; height: 500px;"></div>

      </body>
</html>
